h1{
    color: white;
}
nav{
    background-color:rgb(60, 91, 155);
}
.page{ 
margin-left: 80%;
}
.mb3{
margin-left: 60%;

}


.main{
    display: flex;
    justify-content: space-between;
    
}
.inputs{
    display:flex;
    flex-wrap: wrap;
}
.main2{
    margin-left: 10px;
 

    
}
.btn1{
    margin-left: 10px;
    width: px;
    height: 19px;
    margin-top: px;
    flex-wrap: wrap;

}
header{
    background-color: #3A5A97;
    color: rgb(255, 255, 255);
    }
.can{
width: 50px;
position: relative;
top: 30px;
}
body{
    background-color: rgb(188, 199, 207);

}

.contenu{
    display: flex;
    justify-content: space-around;

}
.mbk{
    margin-top: 10px;
    margin-left: 10px;
    height: 20px;
}
.ram{ margin-left: 10px;
    margin-top: 10px;
    width: 78%;
    height: 20px;
}
.balise{
display: flex;
}
.tab{
    width: 20px;

}
.but{
  width: 200px;
  height: 30px;
  background: rgb(31, 146, 31);
}


@media screen and (max-width:500px) {
    .contenu{
        display: flex;
        flex-wrap: wrap;


    }
    
}
.sign{
    color: rgb(58, 77, 77);

}
.up{
    color: rgb(22, 22, 21);
}
